// Fonts
$font-family-spartan: "League Spartan", sans-serif;
$font-family-inter: "Inter", sans-serif;

// Font sizes
$font-heading-num: 8rem;
$font-heading-xxl: 6rem;
$font-heading-xl: 4rem;
$font-heading-l-m-s: 2.5rem;
$font-heading-xs: 2rem;

$font-paragraph-xl: 1.5rem;
$font-paragraph-l: 1.25rem;
$font-paragraph-m: 1.125rem;
$font-paragraph-s: 1rem;
$font-paragraph-xs: 0.625rem;
$font-button: 1.25rem;

// Letter spacing
$letter-spacing-default: 0%;
$letter-spacing-wide: 27%;
$letter-spacing-medium: 20%;

// Line height
$line-height-100: 100%;
$line-height-87: 87.7%;

// Font weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;
