.welcome {
    background-image: url("../../../../assets/img/welcome_bg.png");
    background-size: cover;
    background-position: center;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.overlay {
    background: linear-gradient(0deg, rgba(38, 38, 38, 0.9) 5%, rgba(0, 0, 0, 0) 80%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 64px;
    box-sizing: border-box;
}

.title {
    color: #DAB88B;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.27em;
    margin-bottom: 16px;
    font-family: "League Spartan", sans-serif;
    text-align: center;
}

.subtitle {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.27em;
    font-family: "League Spartan", sans-serif;
    text-align: center;
    margin-bottom: 32px;
}