@use "../../../../../sass/globals" as *;

.overviewContainer {
  position: relative;
  padding: $space-3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  row-gap: $space-2;

  grid-template-areas:
    "a"
    "b"
    "d"
    "f"
    "c"
    "g"
    "h"
    "e";

  background: linear-gradient(#dab88b 5%, #fffffe 10%);
  color: $color-neutral-medium-dark;
  overflow: hidden;
}

.overviewHeading {
  font-size: $font-heading-l-m-s;
  font-family: $font-family-spartan;
  letter-spacing: 0.75rem;
  grid-area: a;
  margin: 0;
}

.headingAccent {
  color: $color-base-white;
}

.overviewParagraph {
  z-index: 2;
  font-size: $font-paragraph-l;
}

.paragraph1 {
  grid-area: b;
}

.overviewImage1 {
  height: 32rem;
  background-image: url("/src/assets/img/overview_1.png");
  background-size: cover;
  background-position: center;
  grid-area: c;
  z-index: 2;
}

.numbersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: $font-weight-medium-bold;
  gap: $space-2;
}

.workshopsNumberWrapper {
  grid-area: f;
}

.number {
  font-size: $font-heading-l-m-s;
}

.numberLabel {
  font-size: $font-paragraph-xl;
}

.overviewImage2 {
  height: 24rem;
  background-image: url("/src/assets/img/overview_2.png");
  background-size: cover;
  background-position: center;
  grid-area: e;
  z-index: 2;
}

.universitiesNumberWrapper {
  grid-area: d;
}

.paragrahph2 {
  grid-area: g;
}

.numbersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-4;
  grid-area: h;
  z-index: 2;
}

.overviewH3 {
  font-size: $font-paragraph-xl;
  letter-spacing: 0.2rem;
}

.wheelImage {
  position: absolute;
  transform: translate(40%, 5%);
  z-index: 0;
  width: 60%;
  height: 60%;

  @media (min-width: $large-screen) {
    width: 40%;
    height: 40%;
    bottom: 0;
  }
}

.wheelImage1 {
  bottom: 10%;
  left: 140%;
  transform: translate(-140%, -10%);

  @media (min-width: $large-screen) {
    bottom: 0;
    left: 60%;
    transform: translate(40%, 35%);
  }

  @media (min-width: $extra-large-screen) {
    bottom: -10%;
    left: -10%;
    transform: translate(0, 0);
  }
}

.wheelImage2 {
  bottom: 45%;
  left: 10%;
  transform: translate(-60%, -10%);

  @media (min-width: $large-screen) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .overviewContainer {
    height: 180vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
      "a a a b b"
      "c c c d d"
      "c c c e e"
      "c c c e e"
      "c c c e e"
      "f f f e e"
      "f f f e e"
      "g g g h h";
    row-gap: 0;
    gap: $space-3;
    background: linear-gradient(#dab88b 15%, #fffffe 25%);
  }

  .overviewHeading {
    font-size: $font-heading-xxl;
    line-height: 6rem;
    align-self: center;
  }

  .overviewParagraph {
    font-size: $font-paragraph-xl;
    align-self: center;
  }

  .overviewImage1 {
    height: auto;
  }

  .overviewImage2 {
    height: auto;
  }

  .numbersWrapper {
    flex-direction: row;
    justify-content: center;
  }

  .number {
    font-size: $font-heading-xxl;
  }

  .numberLabel {
    font-size: $font-paragraph-xl;
  }

  .numbersContainer {
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
  }
}
