@use "../../../sass/globals" as *;

.optionsList {
  display: flex;
  flex-direction: column;
  gap: $space-3;
  list-style-type: none;
}

.optionsList li:not(:first-child) {
  margin-left: $space-2;
}

.menuHeaderWrapper {
  padding-top: $space-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-base-white;
}

.menuLabel {
  font-size: $font-paragraph-l;
  font-weight: $font-weight-medium-bold;
}

.closeIcon {
  cursor: pointer;
}

.optionLink {
  font-size: $font-paragraph-s;
  font-weight: $font-weight-medium;
  text-decoration: none;
  color: $color-base-white;
  padding-bottom: 0.3rem;
}

.activeLink {
  color: $color-primary-medium;
  border-bottom: 2px solid $color-primary-medium;
}

@media (min-width: $medium-screen) {
  .optionsList {
    flex-direction: row;
    gap: $space-3;
  }

  .optionsList li:not(:first-child) {
    margin-left: 0;
  }
}
